.jfx-slider > .track {
     -fx-background-color: lightgray;
     -fx-pref-height: 5px;
}

.jfx-slider > .thumb {
     -fx-background-color: #FF4040;
     -fx-pref-height: 14px;
     -fx-pref-width: 14px;
}

.jfx-slider > .colored-track {
     -fx-background-color: #FF4040;
}

.jfx-slider > .animated-thumb {
     -fx-opacity: 0;
}

